@inherits LayoutComponentBase

<!-- All pages that use the main layout should have a title explaining the function of the website -->
<div class="main-content">
    <!-- Title layout -->
    <div class="p-3 mb-3 bg-black rounded-3">
        <div class="container-fluid">
            <!-- Title message -->
            <h1 class="align-content-center">Boolean Algebra Simplification</h1>
        </div>
    </div>
    
    <!-- Render the rest of the page from the specific page layout -->
    @Body
</div>