@page
@namespace BooleanAlgebra.WebDisplay.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap-dark.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>
    <title>Boolean Algebra Simplification</title>
</head>
<body>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const errorModal = new bootstrap.Modal(document.getElementById('error-modal'), {
        backdrop: 'static',
    });
    errorModal.show();
});
</script>

<div class="d-flex flex-column overflow-hidden min-vh-100 vh-100">
    <div id="error-modal" class="modal backdrop-blur" role="alertdialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content p-3">
                <div class="modal-header border-bottom-0 py-2">
                    <h4 class="modal-title">
                        An error has occurred
                    </h4>
                </div>
                <div class="modal-body py-0">
                    Whilst procesessing your request, an error occurred. Please return to the page you were on and try again.
                </div>
            </div>
        </div>
    </div>
</div>

<script src="_framework/blazor.server.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>