@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

h1{
    text-align: center;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.centered {
    align-items: center;
    display: flex;
    justify-content: center;
}

.main-content{
    width:  100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 15px;
}

.gap-y-2{
    gap: 0.5em 0;
}

/* The following section blurs the background when an error message is displayed */

/* If the browser supports either webkit-filter or backdrop-filter then blur the background */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .backdrop-blur {
        -webkit-backdrop-filter: blur(1em);
        backdrop-filter: blur(1em);
    }
}

/* If the browser does not support a method to blur the background, change the background colour and set the transparency */
@supports not ((-webkit-backdrop-filter: none) and (backdrop-filter: none)) {
    .backdrop-blur {
        background-color: rgba(0, 0, 0, .9);
    }
}