@using BooleanAlgebra.Parser.Syntax;

<div class="accordion-item">
    <h2 class="accordion-header">
        <button @onclick="ToggleCollapsableElement" class="accordion-button@(_isExpanded ? "" : " collapsed")" type="button">
            <div style="overflow: hidden; margin: 0; text-overflow: ellipsis; width: calc(90%);@(_isExpanded ? "" : " white-space: nowrap;")">
                @SyntaxItem
                <p style="margin: 10px 0 0 0;" class="small">@SimplificationReason</p>
            </div>
        </button>
    </h2>
    <div class="accordion-collapse collapse@(_isExpanded ? " show" : "")">
        <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
</div>

@code {
    private bool _isExpanded = false;
    
    [Parameter, EditorRequired]
    public SyntaxItem? SyntaxItem { get; init; }
    [Parameter, EditorRequired]
    public string? SimplificationReason { get; init; }

    protected override void OnInitialized(){
        base.OnInitialized();
        if (SyntaxItem is null)
            throw new ArgumentNullException(nameof(SyntaxItem));
        if (SimplificationReason is null)
            throw new ArgumentNullException(nameof(SimplificationReason));
    }

    private void ToggleCollapsableElement() {
        _isExpanded = !_isExpanded;
    }
}